header {
    background-color: rgb(37, 3, 3);
    font-size: larger;
    text-align: center;
    color:rgb(83, 5, 77); ;
}

body {
    background-color: rgb(43, 13, 4);
}

main {
    background-color: #2e0101;
    color: #290202;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}
button{
    size: 100px;
}
.botao-espacoso {
    padding: 15px 30px; /* 15px em cima/baixo e 30px esquerda/direita */
    font-size: 16px;
}