header {
    background-color: #0D0D0D;
    font-size: larger;
    text-align: center;
    color:#F2F2F2;
}

body {
    background-image: url(https://thumbs.dreamstime.com/b/perspectiva-dram%C3%A1tica-do-castelo-farelo-na-transilv%C3%A2nia-127444494.jpg);
    background-repeat: repeat;
}

main {
    background-color:#717070;
    color: #F2F2F2;
    text-align: center;
    max-width: 800px;
    margin: 0 auto; 
}
button{
    size: 100px;
}
.botao-espacoso {
    padding: 30px 60px; /* 15px em cima/baixo e 30px esquerda/direita */
    font-size: 50px;
}

  /* Faz a página rolar suavemente ao clicar nos links do menu */
        html {
            scroll-behavior: smooth;
        }

        /* Estilo básico para o menu */
        nav {
            position: fixed; /* Mantém o menu fixo no topo ao rolar a página */
            top: 0;
            left: 0;
            width: 100%;
            z-index: 1000;
        }

        nav ul {
            list-style-type: none; /* Remove as bolinhas da lista */
            margin: 0;
            padding: 0;
            background-color: #333; /* Cor de fundo escura */
            overflow: hidden;
        }

        nav li {
            float: left; /* Coloca os itens lado a lado */
        }

        nav li a {
            display: block;
            color: white; /* Cor do texto */
            text-align: center;
            padding: 14px 16px;
            text-decoration: none; /* Remove o sublinhado do link */
        }

        /* Muda a cor de fundo ao passar o mouse */
        nav li a:hover {
            background-color: #111;
        }

        /* Estilo apenas para visualizarmos as seções na tela */
        section {
            padding: 100px 20px 50px 20px; /* Espaçamento interno para o conteúdo não ficar debaixo do menu fixo */
            min-height: 100vh; /* Garante que cada seção ocupe pelo menos a altura da tela */
        }

        #Início { background-color: #f4f4f4; }
        #Histŕoia { background-color: #e2e2e2; }
        #filmes { background-color: #d1d1d1; }
        #curiosidades { background-color: #c0c0c0; }
    